<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cabrerizo.luis.tarea3"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature android:name="android.hardware.camera" />
    
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/titulo_lista"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name="cabrerizo.luis.tarea4.activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
		<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>                  
        </activity>
        <activity
            android:name="cabrerizo.luis.tarea4.activities.DetalleActivity"
			android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_detalle" >   
        </activity>
        <activity
            android:name="cabrerizo.luis.tarea4.activities.FotografiaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_fotografia" >
        </activity>
        <activity
            android:name="cabrerizo.luis.tarea4.activities.MarcoImagenesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_MarcoImagenes" >
        </activity>
        
    </application>

</manifest>
